<% if notice %>
<%= render :partial => 'layouts/notice',:locals=>{:notice=>notice} %>
<% end %>
<section id="sl_intro_index">
	<article id="intro_main_content">
		<%=image_tag 'intro/image.jpg',:class=>'img-responsive',:alt=>'soojung' %>
		<div id="main_content">
			<h3>인수정  극비 신상공개!!!</h3>
			<dl>
				<% unless @intro.empty? %>
				<% @intro.each do |intro| %>
				<dt><%=intro.title %></dt>
				<dd><%=intro.description %></dd>
				<% end %>
				<% end %>
			</dl>
		</div>
		<% if user_signed_in? %>
		<% if current_user.admin? %>			
			<%= link_to t(:link_new), new_intro_path %>
		<% end %>
		<% end %>
	</article>
</section>