<section id="board_confirm_delete" class="sub_main">
	<p id="notice">게시물을 삭제하겠습니까?</p>		
	<%= form_tag(:method=>:delete) do %>	
		<%=hidden_field_tag :confirm,1 %>
		<div class="actions">
			<%= link_to '취소',@parent %>
			<%= submit_tag '확인',:class=>'btn btn-primary' %>
		</div>
	<% end %>
	<div id="sl_content_bottom_menu">
	<%= link_to '돌아가기', @parent %>
	</div>
</section>