<header>
 	<h1><%= link_to 'Yankee Go Home!!!',root_path,:title=>"홈으로" %></h1>
	<nav>
		<ul>
			<li><%= link_to '주한미군 바로 알기',usarmy_index_path,:title=>"주한미군 바로 알기" %></li>
			<li><%= link_to '주한미군 활동 사진첩',galleries_path,:title=>'Faq' %></li>					
			<li>잘못된 지식 바로잡기</li>
			<li><%= link_to '주한미군 FAQ',faqs_path,:title=>'Faq' %></li>
			<li><%= link_to '양키 돌려보낼방법',goodbyes_path,:title=>"주한미군을 보낼방법 쓰기" %></li>
		</ul>
	</nav>
</header>
