<!DOCTYPE html>
<html lang="ko">
<head>
<title>많이 있었다 아이가? 이제 제발좀 꺼져줘 |  www.soojung.kr</title>
<meta charset="utf-8">	
<meta name="robots" content="all, index, follow" />
<meta name="application-name" content="예쁘고 귀여운 수정이의 홈페이지" />
<meta name="keywords" content="수정,인수정,수정이,soojung,crystal,정종호,요리,레시피,애교,애완동물,짬순이,멍군이,말티즈,비봉고등학교,수원고등학교" />
<meta name="description" content="예쁘고 귀여운 수정이의 홈페이지입니다." />
<meta name="author" content="Sleeping-Lion" />
<link rel="shortcut icon" href="/assets/favicon.ico" />
<%= stylesheet_link_tag @style, :media => "all" %>
<%= csrf_meta_tags %>
</head>
<body>
<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<%= render :partial => 'layouts/header' %>
<div id="mom">
	<div id="main">
			<section class="sub_main">
				<% unless current_page?(root_path) %>
				<div class="page-header pull-left row-fluid">
					<h1 class="pull-left"><%=@controller_name %></h1>
					<ul class="breadcrumb pull-right">
						<li><%=link_to_home %> <span class="divider">/</span></li>
						<% if @page_category %>
						<li><%=link_to @page_category %> <span class="divider">/</span></li>
						<% end %>
						<li class="active"><%=@controller_name %></li>
					</ul>
				</div>
				<% end %>
			<%=yield %>
		<div class="clearfix">&nbsp;</div>
		</section>
	</div>
</div>
<%= render :partial => 'layouts/footer' %>
<div class="slboard_overlay" id="overlay"></div>
<%= javascript_include_tag @script %>
</body>
</html>